*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    height: 10vh;
    border: 2px solid red;
    text-align: center;
}
.box{
    border: 2px solid green;
    height: 80vh;
    width: 100vw;
    position: relative;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:aqua;
    transition: all 2s ease-in-out;
}